[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[requires]

python_version = "3.6"


[packages]

tornado = "*"
"jinja2" = "*"
queries = "*"
requests = "*"
geopy = "*"
ipython = "*"


[dev-packages]

